form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.etiquetas{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.campos{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}