*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3B322C;
}

header{
    width: 100%;
    background-color: #4E6151;
}

main{
    width: 80%;
    margin: 1%;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

li{
    list-style: none;
    margin: 0;
    width: 10%;
}

a{
    text-decoration: none;
    color: black;
}

a > span{
    font-weight: 700;
}

a:first-of-type{
    font-weight: 400;
}

#logo{
    width: 20%;
}

