main{
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.contenedorProductos{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20%;
}

.producto{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    width: 100%;
    line-height: 0;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5%;
}

.producto:nth-child(odd){
    background-color: #5E8C61;
}
.producto:nth-child(even){
    background-color: #4E6151;
    flex-direction: row-reverse;
}

.imgProducto{
    height: 70%;
    width: 12.5%;
    margin: 3%;
    border: 1px solid black;
}

.imgProducto > img{
    height: 100%;
    object-fit: cover;
}


/*

    #3B322C
    #4E6151
    #5E8C61

*/